html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}
.header {
    background-color: hsla(240, 100%, 50%, 0.747);
    color: yellow;
}

.spant {
    color: blue;
}

.divt {
    color: midnightblue;
}



.body {
    color: #333;
    margin: 0;
}

.container {
    width: 300px;
    height: 300px;
    background-image: url("../Images/images.jpg");
    resize: both;
    overflow: auto;
    background-position: center;
    background-size: contain;
    background-repeat: space;
    background-color: #ccc;
    color: aliceblue;
}
.flex {
    border: 10px solid black;
    width: 500px;
    display: flex;
    height: 300px;
    justify-content: center;
    flex-direction: row;
 
}
.flex__item{
    padding: 20px;
    background: teal;
    color: white;
    margin: 10px;
    
}
    